header{
    max-height: 177.2px;
    display: flex;
    flex-direction: column;
}
.box1{
    background-color:  #B50014;
    max-height: 93px;
    /* display: flex;
    flex-direction: column; */
    /* justify-content: space-between; */
}

.logo-menu{
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav{
    list-style: none;
    /* padding: 35px 0 30px 0; */
    position: relative;
    
}

nav ul{
    list-style: none;
    flex-wrap: wrap;
    
}

nav ul li{
    display: inline-block;
    padding: 40px 20px 65px 20px;

}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 18.75px;
    
}
nav ul li:last-child::before{
    content: url('../images/download.png');
    display: inline-block;
}
.box2{
    /* flex: 1; */
    background-color: #252525;
    min-height: 30px;
    width: 100%; 
}
.logo{
    max-height: 177.2px;    
    position: absolute;
    z-index: 6;
    left: 0;
}
.logo-img {
    max-height: 177.2px; 
    width: 100%;
}
.time-box{
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    line-height: 16,41;
    display: flex;
    justify-content: flex-end;
    padding: 0 298px 0 0;
}