header{
    max-height: 177.2px;
    display: flex;
    flex-direction: column;
}
.logo-menu{
    display: flex;
    justify-content: center;
    max-height: 177.2px;
    /* position: absolute;
    top: 0;
    left: 0; */
}
.logo img{
    max-height: 177.2px;
}
nav{
    display: flex;
}
nav ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-top: 50px;
    padding-left: 15px;
    gap: 20px;
}
nav ul li{
    list-style: none;
    
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    line-height: 1.1;
    
}
.box1{
    background-color:  #B50014;
    max-height: 93px;
    position: relative;
}
.box2{
    background-color: #252525;
    min-height: 30px;
    width: 100%; 
    /* position: relative; */
}
.time-box{
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.1;
    display: flex;
    justify-content: flex-end;
    padding: 0;
    padding-top: 300px;
}

.icon{
    display: none;
}
@media only screen and (max-width:1090px){
    nav ul{
        display: none;
    }
    .logo-menu{
        justify-content: space-between;
        padding: 0;
        padding-top: 20px;
    }
    .icon{
        display:block;
        height: 300px;
    }
    
}